
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Usuario</th>
            <td><%= record.usuario %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= record.email %></td>
        </tr>
        <tr>
            <th>Foto</th>
            <td><%= record.foto %></td>
        </tr>
    </tbody>
</table>
